.card{
    width: 100%;
    position: relative;
    top: -126px;
}

.content-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--color7);
}
.content-card__item{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color_white);
    border-radius: 30px;
    padding: 10px 20px;
    width: 250px;
    height: 291px;
    margin: 10px;
}

@media (min-height:200px ){
    .card{
        top: 0px;
    }
}

@media (min-width: 667px ) and (min-height:375px ){
    .card{
        top: 0px;
    }
}

@media (min-height: 400px){
    .card{
        top: -126px;
    }
}
